li{
    list-style: none !important;
}

body , html{
    margin: 0px;
    padding: 0px;
    background: #f1f1f2 !important;
}

.MuiBox-root{
    border-width: 0px !important;
    border-color: #fff;
}
.css-1aquho2-MuiTabs-indicator{
    display: none;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: red !important;
}

.MuiTypography-root{
    text-align: right !important;
}


.overly-shadow{
    background: rgba(0, 0, 0, 0,6);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    right: 0;
}